[Unit]
Description=ICEMail IMAP Server (Apache James)
After=network.target

[Service]
ExecStart=/usr/bin/bash #INSTALL_DIR#/ice-imap-run.sh
WorkingDirectory=#INSTALL_DIR#
Restart=no
User=root

[Install]
WantedBy=multi-user.target
